* {
  margin: Opx;
  padding: Opx;
}

body {
  backrgound-color: #f0f0f0;
  font-size: 20px;
  font-family: 'Arial'
  font-color: #000000;
  color: black;
}

#wrapper {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

#header {
  background-color: #cccccc;
  hieght: 80px;
  width:100%;
  margin-bottom: 10px;
}

#logo {
  text-shadow: 1px 1px 1px #000000;
  color: #ffffff;
  font-size: 20px;
  font-family: 'Arial'
  margin: 10px 0px 0px 10px;
  color: black;
}

.post {
  background-color: #ffffff;
  padding: 5px;
  border: 1px solid #cccccc;
  margin-bottom: 5px;
}
